.sign-in-button {
  border-radius: 8px;
  outline: none;
  font-size: 16px;
  border: none;
}

.sign-in-button.btnn {
  background-color: black;
  color: white;
  width: 98px;
  height: 44px;
}

@media (max-width: 768px) {
  .sign-in-button.btnn {
    width: 80px;
    height: 38px;
    font-size: 14px;
  }
}

.logo img {
  width: 150px;
}

@media (max-width: 768px) {
  .logo img {
    width: 120px;
  }
}

.nav-link {
  padding: 1rem !important;
}

.mob-nav {
  display: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown {
  position: relative;
  display: inline-block;
}